<main role="main">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<app-tabla-pelicula (peliculaEvent)="getPeli($event)"></app-tabla-pelicula>
	</div>

	<div class="container">
		<h2 *ngIf="!peliculaSelec">Seleccione una película!</h2>
		<div class="datosPelicula" *ngIf="peliculaSelec">
			<h2>Detalles</h2>
			<app-detalle-pelicula [pelicula]="peliculaSelec"></app-detalle-pelicula>
			<hr>
		</div>
	</div>

</main>

<router-outlet></router-outlet>